# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Dependency directories
backend/node_modules
frontend/node_modules

# Build directories
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
.history/

# IDEA
.idea/
*.iml

# SASS cache
.sass-cache/

# Misc
*.swp
*~
.project
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
